footer{
    /* background: center url(../assets/images/blur-azul.svg) no-repeat ; */
    background: url(../assets/images/book-trace-background.svg) no-repeat center;
    background-size: cover;
    height: 70vh;
    overflow: hidden;
    justify-content: center;
    align-content: center;

    .footer{
        width: 80em;
        display: flex;
        justify-self: center;
        justify-content: space-between;

    #logo{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        
        div{
            width: 100%;
            height: 1px;
            background: var(--text-body);
            opacity: 0.1;
        }
        nav{
            display: flex;
            gap: 1rem;

            a{
                padding: .5rem;

                & :hover{
                    background-color: var(--blue-dark);
                    border-radius: 1rem;
                }
            }
        }
    }

    #links{
        display: inline-flex;
        gap: 4rem;

        h3{
            font: var(--title-xs);
            color: var(--text-body);
            margin-bottom: .75rem;
        }
        nav{
            display: flex;
            flex-direction: column;
            gap: .75rem;
            a{
                text-decoration: none;
                font: var(--link);
                color: var(--blue-light);

                &:hover{
                    color: var(--text-body);
                }
            }
        }

        #content{
            display: flex;
            flex-direction: column;

        }
    
        #help{
            display: flex;
            flex-direction: column;
            }
        }
    }
}