@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --pink-light: #C59DD2;
    --pink-base: #9547A5;
    --pink-dark: #7D298A;
    --pink-low: #3F0F41;

    --blue-light: #73B6D2;
    --blue-base: #358BB9;
    --blue-mid: #2374A4;
    --blue-dark: #144A72;
    --blue-low: #08233C;

    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000F1F;
    --shape-background: #00050A;

    --text-title: #F8FBFB;
    --text-body: #F8FBFB;
    --text-label: #BAC6C9;

    --ff-family: "Raleway", sans-serif;

    --title-lg: 700 3rem/1.4 var(--ff-family);
    --title-md: 700 2.5rem var(--ff-family);
    --title-sm: 700 2rem var(--ff-family);
    --title-xs: 700 1rem var(--ff-family);

    --subtitle: 500 1rem/2 var(--ff-family);

    --body-lg: 400/700 1.25rem/1.4 var(--ff-family);
    --body-md: 400/700 1rem/1.4 var(--ff-family);
    --body-sm: 400/700 0.875rem/1.4 var(--ff-family);
    --body-xs: 400/700 0.75rem/1.4 var(--ff-family);

    --button: 700 0.875rem var(--ff-family); 
    --link: 500 0.875rem var(--ff-family);
    --tag: 700 0.625 var(--ff-family);

}